<IfModule mod_rewrite.c>
  RewriteEngine on
  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~juwe12/phpmvc/Kmom06/leroy/ is /~juwe12/phpmvc/Kmom06/leroy/
  RewriteBase /~juwe12/phpmvc/Kmom06/leroy/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [NC,L]
</IfModule>